:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #00032C;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --title-decor: #FF0070;
  --header-footer-title-color: #DB00FF;
  --header-footer-title-shadow-color: #FF0070;
  --title-text-color: #000028;
  --article-text-color: #F1B2CE;
  --link-color-shadow: #FF0070;
  --button-color-hover: rgb(255, 0, 112, 0.4);
  --record-element-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #00032C;
    --accent-color: #FF0070;
    --button-color: #FF0070;
    --title-decor: #FF0070;
    --header-footer-title-color: #DB00FF;
    --header-footer-title-shadow-color: #FF0070;
    --title-text-color: #000028;
    --article-text-color: #F1B2CE;
    --link-color-shadow: #FF0070;
    --button-color-hover: rgb(255, 0, 112, 0.4);
    --record-element-display: block;
  }
}