:root {
  --background-color: #00032C;
  --font-family: IBM Plex mono;
  --font-size: 18px;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height: 23.4px;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --title-decor: #FF0070;
  --header-footer-title-color: #DB00FF;
  --header-footer-title-shadow-color: #FF0070;
  --title-text-color: #000028;
  --article-text-color: #F1B2CE;
  --link-color-shadow: #FF0070; 
  --button-color-hover: rgb(255, 0, 112, 0.4);
  --record-element-display: block;
}